div#container{
  width: 100%;
  height: 100vh;
}

html, body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#header, #footer {
  padding: 1em;
  color: white;
  background-color: black;
  text-align: center;
  clear:left;
}

#filters{
  float:left;
  max-width: 160px;
  margin:0;
  padding: 1em;
}

#content{
  margin-left:170px;
  border-left:1px solid gray;
  height: 90vh;
}
